
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cover Template for Bootstrap</title>

    <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
          
            display: flex;
            align-items: center;
        }
    </style>
  </head>

  <body class="text-center" style = 'height: 100vh;'>

    <div class="container d-flex h-90">
        <div class="row align-self-center w-100">
            <div class="col-12 mx-auto">
                <div class="jumbotron" style = 'background: transparent!important;'>
                    <img src = "{{ url_for('static', filename = 'images/banner.png') }}">
                    <h1 class="display-4 pt-5">Verification Successful!</h1>
                    <p class="lead">You can now close this page</p>
                </div>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </body>
</html>