{% extends 'core_base.html' %}

{% block content %}
    <h1>Commands</h1>

    <table class = 'table table-borderless'>
        <thead class = 'mt-5'>
            <tr>
                <th scope="col">Command</th>
                <th scope="col">Usage</th>
            </tr>
        </thead>
        <tbody>
            {% for command, usage in commands %}
            <tr>
                <td>{{ command }}</td>
                <td>{{ usage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}