{% extends 'core_base.html' %}

{% block styles %}
<style>
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing h2 {
    font-weight: 400;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }

  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  }

  .blog-header-logo:hover {
    text-decoration: none;
  }
</style>
{% endblock %}

{% block content %}
  <h3 class='pb-3 font-italic text-white'>Your Representitives</h3>

  <!-- Three columns of text below the carousel -->
  <div class="row mt-5">
    <div class="col-lg-4">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>Harry</h2>
      <p>@Going_Quantum</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>John</h2>
      <p>@Johnorable</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>Sham</h2>
      <p>@Sham</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Feedback</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
        placeholder='Please leave kind feedback.'></textarea>
    </div>
  </form>
{% endblock %}