{% extends 'core_base.html' %}

{% block styles %}
    <style>
        .jumbotron {
            background-image: url("{{ url_for('static', filename = 'images/aston.jpg') }}");
            background-size: cover;
          }

        .text-shadow {
            text-shadow: 0 2px 0 black;
        }
    </style>
{% endblock %}

{% block content %}
    <div class = 'jumbotron text-shadow'>
        <h1>Aston Unofficial Bot</h1>

        <p class = 'lead'>
            Whether you're a club, society, or just a group of friends. <br>
            If you're affiliated with Aston Univeristy, we can help! 
        </p>
    </div>

    <div class = 'text-center mt-5'>
        <h2>Features</h2>
    </div>

    <div class = 'album card-deck'>
        <div class='card'>
            <div class='card-body text-center'>
                <h1 class="fas fa-user-check text-success"></h1>
                <hr>
                <h3>Verification</h3>
                <p class = 'text-muted'>
                    An automatic verification system baked right into the bot ensures that all your members are verified members of Aston University.
                </p>
            </div>
        </div>

        <div class='card'>
            <div class='card-body text-center'>
                <h1 class="fas fa-user-shield text-success"></h1>
                <hr>
                <h3>Moderation</h3>
                <p class = 'text-muted'>
                    Keep a hold on your server with our powerful suite of moderation tools.
                </p>
            </div>
        </div>

        <div class='card'>
            <div class='card-body text-center'>
                <h1 class="fas fa-clipboard-list text-success"></h1>
                <hr>
                <h3>Dashboard</h3>
                <p class = 'text-muted'>
                    Our online dashboard allows you to keep track of everything that's going on in your server!
                </p>
            </div>
        </div>

    </div>

    <div class = 'container text-center mt-5'>
        <h2>Getting Started</h2>
        <p class = 'text-muted'>
            Currently we're individually consulting servers that use our bot. Please read our Help section for more information on adding this bot to your server.
        </p>
    </div>
{% endblock %}